:root {
    font-family: 'Titillium Web', sans-serif;
    color: var(--font-color);
    --background-img: url(../img/andy-wang-O_0fiyBOY-8-unsplash.jpg);
    --background-colorA: rgba(0, 0, 0, 0.45);
    --background-colorB: rgba(0, 105, 154, 0.3);
    --font-color-hover: #5696f7;
    /* --men: #07689f; */
    --font-color: #FFFFFF;
}

body { 
    background:linear-gradient(30deg, var(--background-colorA), var(--background-colorB)), var(--background-img);
    background-size: 100%;
    height: 100%;
    background-color: rgb(12, 60, 82);
    margin: 0%;
}

/* ============== HEADER CONTENT ============== */


header {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}


header div {
    width: 70%;
    padding: 0.5% 15%;
}


#logo {
    width: 11%;
}

#menu {
    float: right;
}

#menu a, #projectsView a {
    font-size: 115%;
    padding: 10px 15px;
    margin: 1% 0;
    color: var(--font-color);
    text-decoration: none;
    transition: color 1s;
    display: inline-block;
  }
  
  #menu a:hover {
    color: var(--font-color-hover);
  }
  
  #menu a.ativo {
    color: var(--font-color-hover);
}

#burger {
    /* por padrao o burger n aparece na tela */
    display: none;
    width: 8%;
    height: 3%;
    border-radius: 50%;
    padding: 8px 4px 5px 4px;
    float: right;
    margin-right: 0;
  }
  
  #burger div {
    width: 50%;
    border-bottom: 2px solid var(--background-colorA);
    margin-left: 3px;
    margin-bottom: 6px;
  }
  /* active assim como hove é uma pseudo propriedade */
  #burger:active div:nth-child(2) {
    width: 25%;
}


/* ============== HEADER END ==============  */


/* ============== SITE CONTENT ============== */


#containerHome {
    background-color: rgba(0, 0, 0, 0.45);
    width: 70%;
    margin: 1% 15%;
}

#home {
    width: 70%;
    padding: 5% 15%;
}

h1 {
    font-size: 200%;
    margin: 0 38%;
}

.subP {
    padding: 0 25%;
}

/* ============== PROJECTS PAGE ============== */

h2 {
    padding: 0 45%;
}

#projectsView a {
    C
    margin: 0%;
    padding: 0 0 1.5% 0;
}

#projectsView a:hover {
    color: var(--font-color-hover);
}

#projectsView p {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10%;
    color: grey;
}


#projectsView span {
    display: inline-block;
    font-size: 87%;
    margin-left: 3%;
}