form {
    max-width: 642px;
}

input, textarea, button {
    outline: none;
    color: var(--cor-menu-normal);
    font-family: inherit;
    width: 100%;
    border: 1px solid var(--cor-menu-normal);
    border-radius: 7px;
    background: transparent;
    padding: 8px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    resize: none;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover,
button:active,
button:focus,
button:hover {
  background-color: var(--cor-menu-normal);
  color: var(--azul-xcuro);
}

button[type=submit] {
    width: auto;
    float: right;
}

span {
    font-size: 12px;
    display: inline-block;
    float: left;
}

aside:last-child{
    margin-left: 1px;
    padding-right: 20px;
}

iframe {
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 50%;
    box-shadow: 1px 1px 10px 1px var(--azul-xcuro);
}
