@media screen and (max-width: 1200px) {
    header, header div {
        width: 100% !important;
    }

    header div nav {
        width: 100%;
    }

    #redes-sociais a {
        margin-right: 1%;
    }
    #redes-sociais a:last-child {
        margin-right: 0% !important;
    }

    .container {
        width: 100%;
    }

    h1 {
        font-size: 24px;
        animation: none;
    }

    p {
        font-size: 14px;
    }
    section {
        width: 100%;
        padding: 14px;
    }

    aside {
        width: 100% !important;
        margin: 0% !important;
        /* centraliza na tela elementos do tipo TEXTO e INLINE */
        text-align: center;
    }

    #maquinaEs {
        width: 100%;
    }


    .DDog {
        width: 50%;
        border-radius: 50%;
        transform: translate(0,0) rotate(0deg);
        margin: 0 auto;
    }

    #menu {
        display: none;
        float: none;
        margin-top: 1%;
        position: absolute;
    }

    #menu a {
        text-align: center;
        display: block;
        background: var(--azul-xcuro);
    }

    #menu a.ativo {
        border-radius: 0;
    }

    #menu.mostraMenu {
        display: block;
    }

    #burger {
        display: block;
    }
    
    input, textarea {
        width: 100%;
    }

    form {
        margin: 0 auto;
    }
  
    iframe {
        display: none;
    }

}
    