body {
    padding: 0;
}


#square{
    margin: 90px auto;
    padding: 0;
    width: 395px;
    height: 395px;
}

div div {
    border: 2px solid black;
    width: 125px;
    height: 125px;
    display: inline-block;
}

div div:hover{
    background: url(../img/prisonM.jpg);
}